{% extends 'base.html' %}

{% block title %} Edit_Profile {% endblock %}

{% block content %}
<div class="link">
    <div class="link-item"><a href="{% url 'create_post' %}">投稿作成</a></div>   
    <div class="link-item"><a href="{% url 'liked_posts_view' %}">いいねした投稿</a></div>
    <div class="link-item"><a href="{% url 'edit_profile' %}">ユーザー情報編集</a></div>
</div>
 <h1>ユーザー情報編集</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username">ユーザー名</label> 
            {{ user_form.username }}
            {% if user_form.username.errors %}
                <div class="form-errors">
                    {{ user_form.username.errors }}
                </div>
            {% endif %}

            <label for="id_new_password1">新しいパスワード</label>
            {{ password_form.new_password1 }}
            {% if password_form.new_password1.errors %}
                <div class="form-errors">
                    {{ password_form.new_password1.errors }}
                </div>
            {% endif %}
            
            <label for="id_new_password2">新しいパスワード（確認用）</label>
            {{ password_form.new_password2 }}
            {% if password_form.new_password2.errors %}
                <div class="form-errors">
                    {{ password_form.new_password2.errors }}
                </div>
            {% endif %}
            
            <button type="submit">更新</button>
        </div>
    </form>
</div>
{% endblock %}
