{% extends 'base.html' %}

{% block title %} Login {% endblock %}
{% load static %}
 {% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/enter.css' %}">
 {% endblock %} 

{% block content %}
<div class="centered-container">
    <h1> ログイン </h1>
</div>
<div class="form-container">
    <form method="post">
        {% csrf_token %}
        <div class="login-error">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
        <div class="form-field">
            <label for="{{ form.username.id_for_label }}">ユーザー名</label>
            {{ form.username }}
        </div>
        <div class="form-field">
            <label for="{{ form.password.id_for_label }}">パスワード</label>
            {{ form.password }}
        </div>
        <div class="container">
            <div class="item"><button type="submit">ログイン</button></div>
        </div>
    </form>
</div>
{% endblock %}
