{% extends 'base.html' %}

{% block title %} Post_Detail {% endblock %}

{% block content %}
{% load custom_filters %}

   
        <h1>投稿詳細</h1>
    <div class="post-detail">
        <div class="left">
            {% include 'detail.html' %}
            {% if result %}
                <div class="result-report">
                    <h4>結果報告</h4>
                    <div class="report-content-1">結果：{{ result.get_result_category_display }}</div>
                    {% if result.result_image %}
                        <img src="{{ result.result_image.url }}" alt="Result Image">
                    {% endif %}
                    {% if result.purchased_product_name %}
                        <div class="report-content">購入した商品：{{ result.purchased_product_name}}</div>
                    {% endif %}
                    {% if result.result_comment %}
                        <div class="report-content">コメント：{{ result.result_comment }}</div>
                    {% endif %}
                </div>
            {% endif %}
        </div>

        <div class="right">
         <div class="reaction-form">
            <h3>コメント送信</h3>
                {% if reaction_form %}
                <form method="post">
                {% csrf_token %}
                <div>
                    {{ reaction_form.comment|add_attrs:"maxlength:200" }}
                </div>
                <div class="reaction-ex">
                    <div>
                        <label for="{{ reaction_form.boost_score.id_for_label }}">おすすめ度(1~100):</label>
                        {{ reaction_form.boost_score }}
                    </div>
                    <button type="submit">送信</button>
                </div>
                </form>
                {% else %}
                <p>コメントの受付は終了しました</p>
                {% endif %}
            </div>

            <div class="reactions">
                <h3>コメント一覧</h3>
                    {% for reaction in reactions %}
                    <div class="reaction-container">
                        <div class='reaction-info'> 
                            <div class="reaction-username">{{ reaction.user.username }}</div> 
                            <div class="reaction-date">{{ reaction.created_at }}</div>
                            {% if request.user == reaction.user %}
                            <form method="post" action="{% url 'delete_reaction' reaction.id %}">
                                {% csrf_token %}
                                <div class="reaction-delete">
                                    <button type="submit">送信を取り消す</button>
                                </div>
                            </form>
                            {% endif %}
                        </div>
                        <p class="comment-style">{{ reaction.comment }} </p>
                        <div class="boost-score">
                            <div>
                            {% if reaction.boost_score %}
                                (おすすめ度: {{ reaction.boost_score }})
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    {% empty %}
                        <p class="none-message">コメントがありません</p>
                    {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
<!-- 投稿に対するいいね（Ajax）-->
<script type="text/javascript">
    document.getElementById('like-post').addEventListener('click', e => {
        e.preventDefault();
        const url = '{% url "liked_post" %}';
        const formData = new FormData();
        formData.append('post_pk', '{{ post.id }}');
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

        fetch(url, {
            method: 'POST',
            body: formData,
        }).then(response => {
            return response.json();
        }).then(response => {
           const counter = document.getElementById('liked_count')
           counter.textContent = response.liked_count + '件のいいね';

           const icon = document.getElementById('icon');
           if (response.method == 'create'){
               icon.classList.remove('far');
               icon.classList.add('fas');
           } else {
               icon.classList.remove('fas');
               icon.classList.add('far');
           }
        }).catch(error => {
            console.log(error);
        });
    });
</script>

{% endblock %}
